<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Formulário de Feedback</h1>
    <form id="form-feedback">
        <div class="user-box">
            <input type="text" name="nome" id="nome" required>
            <label for="nome">Nome</label>
        </div>
        <div class="user-box">
            <input type="email" name="email" id="email" required>
            <label for="email">E-mail</label>
        </div>
        <div class="user-box">
            <textarea name="feedback" id="feedback" rows="4" class="form-control mensagem-box" name="mensagem" id="mensagem"required></textarea>
            <label for="feedback">Feedback</label>
        </div>
        <button type="submit">Enviar Feedback</button>
    </form>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script>
        document.getElementById('form-feedback').addEventListener('submit', function(event) {
            event.preventDefault();

            var nome = document.getElementById('nome').value;
            var email = document.getElementById('email').value;
            var feedback = document.getElementById('feedback').value;

            // Enviar os dados de feedback para o servidor (usando AJAX ou Fetch API)
            fetch('/enviar_feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({nome: nome, email: email, feedback: feedback})
            })
            .then(function(response) {
                if (!response.ok) {
                    throw new Error('Erro ao enviar feedback');
                }
                return response.json();
            })
            .then(function(data) {
                alert('Feedback enviado com sucesso!');
            })
            .catch(function(error) {
                alert(error.message);
            });
        });
    </script>
</body>
</html>