<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
            margin: 20% 0;
        }
        form {
            display: inline-block;
            text-align: left;
        }
    </style>
    <title>Esqueceu a Senha</title>
</head>
<body>
    <h2>Esqueceu a Senha</h2>
    <form method="post">
        <label for="email">E-mail:</label>
        <input type="email" name="email" required>
        <button type="submit">Recuperar Senha</button>
    </form>
</body>
</html>