<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de E-mail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cadastro de E-mail</h1>
    <form id="form-email">
        <input type="email" name="email" id="email" required>
        <button type="submit">Cadastrar</button>
    </form>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script>
        document.getElementById('form-email').addEventListener('submit', function(event) {
            event.preventDefault();
    
            var email = document.getElementById('email').value;
            fetch('/cadastrar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email }),
            })
            .then(response => response.json())
            .then(data => {
                alert(data.mensagem);
            })
            .catch((error) => {
                console.error('Erro:', error);
            });
        });
    </script>
    
    
</body>
</html>