<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de E-mails</title>
</head>
<body>
    <ul>
        {% for email in emails %}
            <li>
                {{ email[1] }}
                <button onclick="excluirEmail({{ email[0] }})">Excluir</button>
            </li>
        {% endfor %}
    </ul>
    <script>
        function excluirEmail(id) {
            if (confirm('Tem certeza que deseja excluir este e-mail?')) {
                fetch('/excluir/' + id, {
                    method: 'POST',
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.mensagem);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Erro:', error);
                });
            }
        }
    </script>
</body>
</html>
